{% extends "turkey_bowl/base.html" %}
{% block content %}
<p>
NSFF Turkey Bowl is a fun tournament we put together around Thanksgiving time. Unlike most tourneys, instead of signing up as a group, we ask that people sign up as individuals. Then, we pick a captain for each team and do a draft. While we all see each other fairly often, many of us play with the same people and have their own teams. This is an opportunity to play with different people and have some fun. Yes, it will be competitive since we are all competitive people; however, we strive to make this a friendly tournament. As such, we don't have referees; we just ask that teams are honest and fair with close calls. In some situations, we will have players or friends ref games. Either way, it is an extremely fun day of football.
</p>
<div class="alert alert-info" role="alert">
    While we would love to include everyone who is interested, we have a limited amount of time during the day. This forces us to cap the number of teams. Currently, we have a fairly extensive waitlist of people who signed up but we just couldn't include them unless someone else dropped out. We hope to do this again in the future so please be on the lookout for updates from us.
</div>
{% endblock %}
