{% extends "turkey_bowl/base.html" %}
{% block content %}
<div>
As part of this year's Turkey Bowl, one of the members of our group, Laurie Reddy, was thoughtful enough to suggest that we have a clothing and donation drive for some of the students of Ingraham High School. The following is written by Laurie and provides some details as to why and what we want from this.
<div class="alert alert-primary" role="alert">
    &nbsp;&nbsp;&nbsp;&nbsp;As you plan and prepare for the tournament on Saturday, please consider going through your clothes/gear and making a stop at dollar tree for some toiletries to donate to a donation drive I’ll have at the field! Here is the information:
<br />
&nbsp;&nbsp;&nbsp;&nbsp;Ingraham HS has a large population of students in trauma, transition (homelessness) and immigrant families. They are in need of toiletries and gently used clothes and shoes to stock their clothing closet. This closet is open to any and all students in need of support. All genders and sizes are needed. They could also use athletic clothing and shoes for students who may want to participate in athletics but have the means to purchase shoes/cleats or practice clothes. They would also take gently used duffel bags and backpacks. Lastly, they provide students with free laundry services and could use laundry detergent and fabric softener sheets. I will have a staff member come to our tournament Saturday to pick everything up and take it directly into the school.
If you have any questions feel free to comment below or send [Laurie] a private message!
</div>
</div>
{% endblock %}
