{% extends "turkey_bowl/base.html" %}
{% block content %}
<div class="alert alert-danger" role="alert">
    Since we are reserving a school field, we are required to abide by their rules. Therefore, <b>masks will be required to play</b>. If you forget to bring one, we will provide you with one. <b>You will be asked to leave/won't be allowed to play if you refuse to wear one while you aren't actively eating/drinking.</b>
</div>
<hr />
<div class="accordion" id="turkey-bowl-info">
    <div class="accordionItem">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Location</button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">
                Ingraham High School Soccer Fields: <a href="https://www.google.com/maps/place/Ingraham+High+School/@47.7259252,-122.3374922,17z/data=!4m5!3m4!1s0x549011399865d797:0x5ba6f46d39ee4b6a!8m2!3d47.7259251!4d-122.3374371">1819 N 135th St, Seattle, WA 98133</a> (recommend using the entrance on Ashworth Ave N)
            </div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">Date</button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">Saturday, November 20th</div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">Time</button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">9 AM - 4 PM</div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">Cost</button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">$25</div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingMeh">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMeh" aria-expanded="true" aria-controls="collapseMeh">Rules</button>
        </h2>
        <div id="collapseMeh" class="accordion-collapse collapse" aria-labelledby="headingMeh" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body"><a href="https://docs.google.com/document/d/16jG-RikXgyc_d9LQ_nMomHf-tzi0HsJ6L5xtXQEF2xE/">Turkey Bowl Rules</a></div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">What will be provided?</button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">
                <ul>
                    <li>Snacks and drinks</li>
                    <li>Belts and flags</li>
                    <li>Long-sleeve shirt in your team's color</li>
                    <li>Ice packs</li>
                    <li>Hand and toe warmers</li>
                    <li>Prizes for the following:</li>
                    <ul>
                        <li>Winning team</li>
                        <li>Offensive MVPs</li>
                        <li>Defensive MVPs</li>
                    </ul>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">What should you bring?</button>
        </h2>
        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">
                <ul>
                    <li><b>Mask(s)</b></li>
                    <li>Cleats</li>
                    <li>Gloves</li>
                    <li>A light and dark colored shirt if you don't want to wear the provided long-sleeve</li>
                    <li>Extra snacks + drinks</li>
                    <li>
                        Clothing/hygiene product that you would like to donate: <a href="/turkey-bowl/clothing-and-hygiene-drive/">Clothing and Hygiene Drive</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">Post Tourney "After Party"</button>
        </h2>
        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">
                Some folks may go out after the tournament. We were thinking <a href="https://www.google.com/maps/place/Pinehurst+Pub/@47.7156359,-122.3150008,17z/data=!3m2!4b1!5s0x5490115daeaeda33:0x38355124bd820f9c!4m5!3m4!1s0x5490115dac1754c7:0x85e912b73a00ec47!8m2!3d47.7156344!4d-122.3128124">Pinehurst Pub</a> as it is close by and <i>should</i> have space.
            </div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">Are pets allowed?</button>
        </h2>
        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">
                <b>NO!</b> Ingraham does not allow pets inside field grounds. You can leave them in your cars or leave them outside the fence, <b>but you cannot bring them inside the gates. Sorry!!!</b>
            </div>
        </div>
    </div>

    <div class="accordionItem">
        <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">I can't make it anymore. Can I get a refund?</button>
        </h2>
        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#turkey-bowl-info">
            <div class="accordion-body">
                You will be guaranteed a refund if you reach out to one of the organizers (or your captain) by 9 PM on Friday, Nov 19th. If we are able to find a replacement for you day of, we will try to refund you as well, but this may not be guaranteed.
            </div>
        </div>
    </div>

</div>
<hr>
<div class="alert alert-warning" role="alert">
    Please show up on time as we want to make sure we maintain our schedule. If you don't show up on time nor let someone know you're running late, you risk forfeiting your spot to an alternate on the waitlist.
</div>
{% endblock %}
