{% extends "base.html" %}
{% block content %}
<p class="info">
North Seattle Flag Football, or simply NSFF, is a pick-up flag football group. As the name suggests, we primarily play in North Seattle. We have players of all skill levels and genders. Everyone is welcome as long as they follow a couple simple rules: be respectful and have fun!
<br/><br/>
We strive to keep this league as free as possible. We provide belts, flags, cones, and footballs. We create pick-up events every week or 2 for which anyone is welcome. Currently, all of this is managed through Facebook: <a href="https://www.facebook.com/groups/northseattleflagfootball">NSFF Facebook Group</a>. But we are working to provide an alternative for people who are not on the platform.
</p>
<div class="alert alert-warning" role="alert">
    NOTE: this site is still a work-in-progress so please avoid using anything here as authoritative.
</div>
{% endblock %}
